  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Montserrat:wght@600&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');


#body{
    /* overflow: scroll; */
    width: 360px;
    background: #FFFFFF;
    display: flex;
}


.elipse{
    margin-top: 247px;
}


.header{
    position: absolute;
    display: fixed;
    width: 360px;
    height: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    z-index: 1;
}


.titofree{
    display: flex;
    position: absolute;
    margin-left: 4.65%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}


.menuheader{
    display: none;
}


.fixed-top{
    display: flex;
    width: 360px;
    margin-top: 15px;
    margin-right: 10px;
}


.printablemobile, .businessmobile, .workermobile, .downloadmobile{
    margin-left: 0%;
}


.imagen1{
    position: absolute;
    display: flex;
    margin-left: 75%;
    margin-top: 72px;
    width: 24px;
    height: 24px;
} 


.imagen2{  
    position: absolute;
    display: flex;
    margin-left: 90%;
    margin-top: 102px;
    width: 24px;
    height: 24px;

} 



.imagen3{
    position: absolute;
    display: flex;
    margin-left: 80%;
    margin-top: 530px;
    width: 38px;
    height: 44px;

} 



.imagen4{
    position: absolute;
    display: flex;
    margin-left: 30%;
    margin-top: 500px;
    width: 24px;
    height: 24px;

} 


.imagen5{
    position: absolute;
    display: flex;
    margin-left: 35%;
    margin-top: 90px;
    width: 38px;
    height: 44px;

} 


.imagen6{
    position: absolute;
    display: flex;
    margin-left: 50%;
    margin-top: 500px;
    width: 70px;
    height: 70px;

} 


.imagen7{
    position: absolute;
    display: flex;
    margin-left: 10%;
    margin-top: 550px;
    width: 24px;
    height: 24px;
} 


.imagen8{
    position: absolute;
    display: flex;
    margin-left: 10%;
    margin-top: 115px;
    width: 24px;
    height: 24px;
} 


.cubo, .cubo2{
    position: absolute;
    display: flex;
    width: 360px;
    height: 100%;
    border: #000000;
    border-style: solid;
    border-width: 1px;
}


.cubo2{
    width: 180px;
}


.bekind{
    /* be kind. be free */
    position: absolute;
    display: flex;
    /* height: 23px; */
    margin-left: 25%;
    margin-right: 15px;
    margin-top: 130px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */
    text-align: center;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    
    /* Primary/Color 1 */
    
    color: #4A3AFF;
}


.weconnect{
    /* We connect employers with workers */
    position: absolute;
    display: flex;
    width: 360px;
    height: 64px;
    margin-left: 19px;
    margin-right: 14px;
    margin-top: 175px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    
    text-align: center;
    
    color: #000000;
}


.leaveusyour{
    position: absolute;
    height: 30px;
    width: 100%;
    margin-left: 10%;
    margin-right: 4.44%;
    margin-top: 230px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    /* identical to box height, or 250% */
    text-align: center;
    /* Neutral/600 */
    color: #6F6C90;
}


.mailclienty{
    position: absolute;
    display: flex;
    width: 100%;
    margin-left: 0%;
    margin-top: 260px;
}



.tildecontextoitsfree{
    position: absolute;
    display: flex;
    height: 34px;
    margin-left: 5%;
    margin-right: 3.33%;
    margin-top: 430px;

}


.itsfree{
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    text-align: center;
    /* Neutral/600 */
    color: #6F6C90;
}


.tilde{
    position: absolute;
    display: flex;
    width: 11px;
    height: 11px;
    margin-top: 3px;
}


.itssimple{
    position: absolute;
    display: flex;
    width: 156px;
    height: 22.22px;
    margin-left: 39%;
    margin-top: 600px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* Primary/Color 1 */
    color: #4A3AFF;
}


.howitworks{
    position: absolute;
    display: flex;
    width: 329px;
    height: 48.9px;
    margin-left: 35%;
    margin-top: 630px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    text-align: center;
    color: #000000;
}


.watchashortvideo{
    position: absolute;
    display: flex;
    width: 320px;
    height: 71.11px;
    margin-left: 7%;
    margin-right: 8px;
    margin-top: 650px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    /* or 150% */
    align-items: center;
    text-align: center;
    color: #383838;
}


.imagenvideo{
    position: absolute;
    display: flex;
    margin-left: 5%;
    width: 329px;
    height: 208px;
    margin-top: 720px;
}



.connectworkes{
    position: absolute;
    display: flex;
    height: 56px;
    width: 320px;
    margin-left: 19px;
    margin-top: 950px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}


.botonapple, .botongoogle{
display: none;
}



.botonapplemobile, .botongooglemobile{
    position: absolute;
    display: flex;
    margin-left: 0px;
    margin-top: 1000px;
}


.botongooglemobile{
    margin-left: 50%;

}


.subrayadotitobusiness{
    position: absolute;
    display: flex;
    width: 106px;
    height: 5px;
    margin-left: 3%;
    margin-top: 1130px;
    background: #7551FF;
}

.titobusiness{
    position: absolute;
    display: flex;
    width: 360px;
    margin-left: 3%;
    margin-top: 1095px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 62px;
    /* or 388% */
    display: flex;
    align-items: center;
    /* Neutral/800 */
    color: #170F49;
}


/* opciones del menu dentro de la hamburgesa */

.navbar{
    border: none;
}


.titohamburgesa{
    margin-left: 0px;
    position: absolute;
    display: flex;
    margin-left: 5%;
    margin-top: 40px;
}


.bekindmobilehamburgesa{
    /* be kind. be free */
    display: flex;
    position: absolute;
    width: 186px;
    height: 18.06px;
    margin-left: 10%;
    margin-top: 50px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    color: #4A3AFF;
}


.businesshamburgesa{
    display: flex;
    position: absolute;
    margin-left: 0%;
    margin-top: 200px;
}


.printinhamburgesa{
    display: flex;
    position: absolute;
    margin-left: 0%;
    margin-top: 150px;
}


.workerhamburgesa{
    display: flex;
    position: absolute;
    margin-left: 0%;
    margin-top: 250px;
}


.downloadhamburgesa{
    display: flex;
    position: absolute;
    margin-left: 10%;
    margin-top: 350px;
}

#cierre{
    margin-right: 100px;
}