/* @media screen and (max-width: 1440px){ */

    
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Montserrat:wght@600&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

.header {
    /* Rectangle 4269 */
    Width: 1440px;
    Height: 126.43px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* Neutral/100 */
    background: #FFFFFF;
}

.botontito{
    position: absolute;
    Width: 214px;
    Height: 72px;
    margin-top: 27px;
    margin-left: 67px;
    /* Estilo de fuente */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
}

.botonheaderprint{
    /* Plans */
    position: absolute;
    Width: 87px;
    Height: 25px;
    margin-top: 52px;
    margin-left: 786px;
    /* Estilo de fuente */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;

    /* identical to box height */
    color: #4A3AFF;
}

.botonheaderbusiness{
    /* Contact */
    position: absolute;
    Width: 68px;
    Height: 25px;
    margin-top: 52px;
    margin-left: 931px;
    /* Estilo de fuente */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */
    color: #4A3AFF;
}

.botonheaderworker{
    /* Contact */
    position: absolute;
    Width: 68px;
    Height: 25px;
    margin-top: 52px;
    margin-left: 1057px;
    /* Estilo de fuente */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;

    /* identical to box height */
    color: #4A3AFF;
}

.botonheaderdownload{
    /* Button Text */
    position: absolute;
    Width: 163px;
    Height: 61px;
    margin-top: 32px;
    margin-left: 1213px;
    border-radius: 56px;
    padding-left: 10px;
    padding-top: 20px;
    background-color: #4A3AFF;


    /* Text Single/200/Regular */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    /* identical to box height, or 111% */
    text-align: center;

    /* Neutral/100 */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.imagen1{
    position: absolute;
    margin-left: 100px;
    margin-top: 219px;
} 


.imagen2{  
    position: absolute;
    margin-left: 348px;
    margin-top: 149px;
} 


.imagen3{
    position: absolute;
    margin-left: 1113px;
    margin-top: 380px;
} 


.imagen4{
    position: absolute;
    margin-left: 130px;
    margin-top: 574px;
} 


.imagen5{
    position: absolute;
    margin-left: 1279px;
    margin-top: 258px;
} 


.imagen6{
    position: absolute;
    margin-left: 1268px;
    margin-top: 513px;
} 


.imagen7{
    position: absolute;
    margin-left: 1073px;
    margin-top: 149px;
} 


.imagen8{
    position: absolute;
    margin-left: 253px;
    margin-top: 355px;
} 


.title{
    /* We connect employers with workers */
    /* position: absolute; */
    position: absolute;
    width: 742px;
    height: 124px;
    margin-left: 314px;
    margin-top: 270px;
    /* Headings/Typography Size 1 */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;

    /* or 124% */
    text-align: center;

    /* Neutral/800 */
    color: #170F49;

}

.subtitle{
    /* be kind. be free */
    /* position: absolute; */
    position: absolute;
    width: 186px;
    height: 18.06px;
    margin-left: 592px;
    margin-top: 236px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    text-align: center;
    letter-spacing: 0.24em;
    text-transform: uppercase;

    /* Primary/Color 1 */
    color: #4A3AFF;
}

.subtitle2{
    /* Leave us your email to be in touch with the recent news */
    position: absolute;
    width: 604px;
    height: 30px;
    margin-left: 418px;
    margin-top: 428px;


    /* Paragraph/Default */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    text-align: center;

    /* Neutral/600 */

    color: #6F6C90;
    
}

.contorno{
    position: absolute;
    box-sizing: border-box;
    Width: 607.22px;
    Height: 78.19px;
    position: absolute;
    margin-left: 415px;

    margin-top: 477.77px;

    border-radius: 60px;
    border: 1px; 
    border-style: solid;
    border-color: #EFF0F6;
}

.contornotexto{
    position: absolute;
    margin-left: 39.16px;
    margin-top: 25.97px;
    Width: 307.97px;
    Height: 30.13px;

    font-family: 'DM Sans';
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    line-height: 128%;
    text-Align: Left;
    vertical-align: Top;
    /* Fill-Color-Style: Neutral/600; */
    Fill: Solid;
    color: #6F6C90;
}

.botonsuscribite{
    position: absolute;
    Width: 154.49px;
    Height: 55px;
    margin-top: 10px;
    margin-Left: 444.89px;
    border-radius: 56px;
    padding-top: 12px;
    padding-left: 7px;
    Gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 16px 32 px 19px; */
    gap: 8px;
    background-color: #4A3AFF;
    color: #FFFFFF;
    border-radius: 56px;
}

.subtitle3{
    position: absolute;
    width: 497.69px;
    height: 19.26px;
    margin-top: 569.77px;
    margin-left: 479.54px;

    /* Text Single/100/Regular */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */
    text-align: center;

    /* Neutral/600 */
    color: #6F6C90;

}

.subtitle4{
    position: absolute;
    width: 120px;
    height: 20.07px;
    margin-left: 633.69px;
    margin-top: 749.97px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    /* Primary/Color 1 */

    color: #4A3AFF;
}

.header2{
    /* HOW IT WORKS? */
    position: absolute;
    width: 668px;
    height: 62.21px;
    margin-left: 351px;
    margin-top: 791px;

    /* Headings/Typography Size 1 */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    /* or 124% */

    text-align: center;

    /* Neutral/800 */

    color: #170F49;
}


.subtitle5{
    /* Watch a short video about TITO FREE and discover how this wonderful app works */
    position: absolute;
    height: 64.21px;
    width: 508px;
    margin-left: 434.69px;
    margin-top: 869.36px;

    /* Paragraph/Default */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    /* or 167% */
    display: flex;
    align-items: center;
    text-align: center;

    /* Neutral/600 */
    color: #6F6C90;
}


.comentario{
    /* Connect workers with restaurants that have positions to fill on demand */
    position: absolute;
    width: 395px;
    height: 139px;
    margin-left: 851.62px;
    margin-top: 1047px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #313131;
}


.imagenvideo{
    /* contenedor video */
    position: absolute;
    width: 529px;
    height: 350px;
    margin-left: 204px;
    margin-top: 990px;

}


.joinnowboton{
    position: absolute;
    height: 55px;
    width: 182px;
    margin-left: 852px;
    margin-top: 1186px;
    border-radius: 56px;
    background: #4A3AFF;
    box-shadow: 0px 36px 14px rgba(0, 0, 0, 0.01), 0px 20px 12px rgba(0, 0, 0, 0.05), 0px 9px 9px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

}

.textjoin{
    /* Button Text */
    position: absolute;
    width: 90px;
    height: 20px;
    margin-left: 32px;
    margin-top: 16.05px;

    /* Text Single/200/Bold */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 111% */

    text-align: center;

    /* Neutral/100 */

    color: #FFFFFF;
}


.subrayadotitobusiness{
    /* Rectangle 4518 */
    position: absolute;
    width: 320px;
    height: 13px;
    margin-left: 121px;
    margin-top: 1560px;
    background: #7551FF;

}

.header3{
    /* Tito business */
    position: absolute;
    width: 668px;
    height: 62.21px;
    margin-left: 118px;
    margin-top: 1519px;

    /* Headings/Typography Size 1 */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    
    /* or 124% */


    /* Neutral/800 */
    color: #170F49;
} 


.subtitle6 {
    /* Download the app and start hiring the best workers in the position you need */
    position: absolute;
    width: 620px;
    height: 23px;
    margin-left: 125px;
    margin-top: 1581px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #606060;
}


.card1, .card4, .card7, .card10{
    /* Waiter */
    position: absolute;
    width: 288px;
    height: 128px;
    margin-left: 253px;
    margin-top: 1676px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.card4{
    margin-top: 1876px;
}

.card7{
    margin-top: 2076px;
}


.card10{
    margin-top: 2276px;
}



.imagencard1, .imagencard4, .imagencard7, .imagencard10{
    /* image 5 */
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 24px;
    margin-top: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2px;
}


.card1text, .card4text, .card7text, .card10text{
    position: absolute;
    /* width: 64px; */
    height: 62px;
    margin-left: 110px;
    margin-top: 12px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 62px;
    /* identical to box height, or 310% */
    color: #000000; 
}


.card1text2, .card4text2, .card7text2, .card10text2 {
    /* xxxx workers avaibles */
    position: absolute;
    width: 123px;
    height: 16px;
    margin-left: 110px;
    margin-top: 74px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #999999;
}


.card2, .card5, .card8, .card11{
    /* Waiter */
    position: absolute;
    width: 288px;
    height: 128px;
    margin-left: 653px;
    margin-top: 1676px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.card5{
    margin-top: 1876px;
}


.card8{
    margin-top: 2076px;
}


.card11{
    margin-top: 2276px;
}


.imagencard2, .imagencard5, .imagencard8, .imagencard11{
    /* image 5 */
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 24px;
    margin-top: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2px;
}


.card2text, .card5text, .card8text, .card11text{
    position: absolute;
    /* width: 62px; */
    height: 62px;
    margin-left: 110px;
    margin-top: 12px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 62px;
    /* identical to box height, or 310% */
    color: #000000; 
}


.card2text2, .card5text2, .card8text2, .card11text2{
    /* xxxx workers avaibles */
    position: absolute;
    width: 123px;
    height: 16px;
    margin-left: 110px;
    margin-top: 74px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #999999;
}


.card3, .card6, .card9, .card12{
    /* Waiter */
    position: absolute;
    width: 288px;
    height: 128px;
    margin-left: 1053px;
    margin-top: 1676px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}


.card6{
    margin-top: 1876px;
}


.card9{
    margin-top: 2076px;
}


.card12{
    margin-top: 2276px;
}

.imagencard3, .imagencard6, .imagencard9, .imagencard12{
    /* image 5 */
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 24px;
    margin-top: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2px;
}


.card3text, .card6text, .card9text, .card12text{
    position: absolute;
    /* width: 62px; */
    height: 62px;
    margin-left: 110px;
    margin-top: 12px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 62px;
    /* identical to box height, or 310% */
    color: #000000; 
}


.card3text2, .card6text2, .card9text2, .card12text2{
    /* xxxx workers avaibles */
    position: absolute;
    width: 123px;
    height: 16px;
    margin-left: 110px;
    margin-top: 74px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #999999;
}


.titoworker{
    /* Tito Worker */
    position: absolute;
    width: 668px;
    height: 48px;
    margin-left: 119px;
    margin-top: 2506px;

    /* Headings/Typography Size 1 */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    /* or 124% */


    /* Neutral/800 */
    color: #170F49;
}


.subrayadotito{
    /* Rectangle 4531 */
    position: absolute;
    width: 279px;
    height: 13px;
    margin-left: 121px;
    margin-top: 2546px;
    background: #FFDCC8;
}


 .subtitle7{
    /* Download the app and start hiring the best workers in the position you need */
    position: absolute;
    width: 400px;
    height: 20px;
    margin-left: 125px;
    margin-top: 2568px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #606060;
}


.bigcard1, .bigcard2, .bigcard3{
/* category */
    position: absolute;
    width: 390px;
    height: 510px;
    margin-left: 100px;
    margin-top: 2663px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 40, 100, 0.25);
    border-radius: 16px;

}


.bigcard1polygon, .bigcard2polygon, .bigcard3polygon{
    position: absolute;
    margin-left: 98px;
    margin-top: -29px;
   
}


.bigcard1rectangulo, .bigcard2rectangulo, .bigcard3rectangulo{
    position: absolute;
    width: 71px;
    height: 122px;
    margin-left: 115px;
    margin-top: -29px;
}


.numero{
  /* 1 */
    position: absolute;
    width: 9px;
    height: 17px;
    margin-left: 339px;
    margin-top: 23px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}




.bigcard1, .bigcard2, .bigcard3{
    /* category */
    position: absolute;
    width: 390px;
    height: 510px;
    margin-left: 100px;
    margin-top: 2663px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 40, 100, 0.25);
    border-radius: 16px;
    background-color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}


.bigcard2{
    margin-left: 528px;
}


.bigcard3{
    margin-left: 952px;
}


.bigcard1title, .bigcard2title, .bigcard3title{
    /* Get ready */
    position: absolute;
    /* width: 152px; */
    height: 42px;
    /* margin-bottom: calc(50% - 155px/2 - 0.5px); */
    margin-top: 93px;
    margin-left: 114px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */
    align-content: center;
    color: #000000;
}


.bigcard1subtitle, .bigcard2subtitle, .bigcard3subtitle{
    /* You need to complete some necesary steps for your first job */
    position: absolute;
    width: 281px;
    height: 40px;
    margin-left: 54px;
    margin-top: 142px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #606060;
}


.bigcard1lista, .bigcard2lista, .bigcard3lista{
    /* 500 visitors */
    /* width: 181px; */
    height: 27px;
    margin-top: 215px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    color: #000000;
}

.item1, .item2, .item3{
    margin-top: 10px;
    color: #000000;
}

.bigcard1footer, .bigcard2footer, .bigcard3footer{
    position: absolute;
    margin-left: 140px;
    margin-top: 200px;
    width: 107px;
    height: 27px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 40, 100, 0.25);
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    color: #8F8F8F;
}



.subtitle8{
    /* You decide when an where you work with freedom, just be kind. */
    position: absolute;
    width: 791px;
    height: 31px;
    margin-left: 350px;
    margin-top: 2050px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

    color: #606060;
}


.pricing{
    /* Our pricing plans */
    position: absolute;
    width: 421px;
    height: 48px;
    margin-left: 509px;
    margin-top: 3402px;

    /* Headings/Typography Size 1 */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    /* or 124% */


    /* Neutral/800 */

    color: #170F49;
}


.subrayadopricing{
        /* Rectangle 4531 */
        position: absolute;
        width: 421px;
        height: 13px;
        margin-left: 509px;
        margin-top: 3445px;
        background: #D64DE1;
}


.subtitle9{
    /* For workers always free. For business you have one month free then just $69 per month. */
    position: absolute;
    width: 409px;
    height: 39px;
    margin-left: 515px;
    margin-top: 3475px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #606060;
}


.bigcard4{
    /* Pricing Card */
    box-sizing: border-box;
    position: absolute;
    width: 394px;
    height: 660px;
    margin-left: 277px;
    margin-top: 3623px;

    /* Primary/Color 1 */

    background: #4A3AFF;
    /* Neutral/300 */

    border: 1px solid #EFF0F7;
    box-shadow: 84px 209px 90px rgba(0, 0, 0, 0.01), 47px 118px 76px rgba(0, 0, 0, 0.05), 21px 52px 56px rgba(0, 0, 0, 0.09), 5px 13px 31px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}


.rectangle4464{
/* Rectangle 4464 */
    position: absolute;
    width: 98px;
    height: 40px;
    margin-left: 256px;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.rectangle4464text{
    /* Free */
    position: absolute;
    width: 50px;
    height: 15px;
    margin-left: 24px;
    margin-top: 12px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* or 100% */

    text-align: center;

    /* Neutral/100 */

    color: #FFFFFF;
}


.rectanguloblanco{
    /* Icon Background */
    width: 72px;
    height: 72px;
    position: absolute;
    margin-left: 46px;
    margin-top: 50px;


    /* Neutral/100 */

    background: #FFFFFF;
    border-radius: 16px;
}


.bigcard4title{
    /* Price */
    position: absolute;
    width: 147px;
    height: 35px;
    margin-left: 132px;
    margin-top: 68px;
    /* Headings/Typography Size 3 */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height, or 146% */
    /* Neutral/100 */
    color: #FFFFFF;
}


.bigcard4subtitle{
/* Paragraph */
position: absolute;
width: 307px;
height: 60px;
margin-left: 46px;
margin-top: 140px;

/* Paragraph/Default */
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */
/* Neutral/400 */
color: #D9DBE9;
}


.bigcard4price{
    width: 71px;
    height: 66px;
    margin-top: 213px;
    margin-left: 46px;

    /* Headings/Typography Size 1 */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    /* identical to box height, or 122% */
    /* Neutral/100 */
    color: #FFFFFF; 
}


.bigcard4forever{
    /* /for ever */
    position: absolute;
    width: 81px;
    height: 22px;
    margin-top: -40px;
    margin-left: 130px;

    /* Text Single/300/Medium */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height, or 110% */


    /* Neutral/400 */

    color: #D9DBE9;
}


.bigcar4dwhat{
    /* Text 200 */
    position: absolute;
    width: 151px;
    height: 20px;
    margin-left: 49px;
    margin-top: 17px;
    /* Text Single/200/Bold */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    /* Neutral/100 */
    color: #FFFFFF;
}


.bigcard4lista{
    margin-top: 75px;
}


.bigcard4item1, .bigcard4item2, .bigcard4item3, .bigcard4item4{
    /* Text 200 */
    /* width: 243px; */
    /* height: 20px; */
    /* Text Single/200/Regular */
    margin-top: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 5px; */
    /* identical to box height, or 111% */
    /* Neutral/400 */
    color: #D9DBE9;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


.bigcard4footer {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 26px 38px;
    gap: 6px;
    margin-left: 35px;
    margin-top: 40px;
    

    width: 308px;
    height: 72px;

    /* Neutral/100 */

    background: #FFFFFF;
    border-radius: 96px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}


.bigcard4footertext{
    /* Button Text */
    /* Text Single/200/Bold */
    margin-top: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    text-align: center;
    /* Primary/Color 1 */
    color: #4A3AFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


.bigcard5{ 
    /* Pricing Card */
    box-sizing: border-box;
    position: absolute;
    width: 394px;
    height: 660px;
    margin-left: 759px;
    margin-top: 3623px;
    /* Neutral/100 */
    background: #FFFFFF;
    /* Neutral/300 */
    border: 1px solid #EFF0F7;
    box-shadow: 53px 196px 81px rgba(0, 0, 0, 0.01), 30px 110px 68px rgba(0, 0, 0, 0.05), 13px 49px 51px rgba(0, 0, 0, 0.09), 3px 12px 28px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}


.bigcard5title{
    position: absolute;
    /* width: 147px; */
    height: 35px;
    margin-left: 132px;
    margin-top: 68px;

    /* Headings/Typography Size 3 */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height, or 146% */


    /* Neutral/800 */

    color: #170F49;
}


.bigcard5subtitle{
    /* Paragraph */
    position: absolute;
    width: 307px;
    height: 60px;
    margin-left: 46px;
    margin-top: 140px;

    /* Paragraph/Default */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #606060;
}


.bigcard5price{
    width: 71px;
    height: 66px;
    margin-top: 213px;
    margin-left: 46px;

    /* Headings/Typography Size 1 */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    /* identical to box height, or 122% */
    /* Neutral/100 */
    color: #170F49; 
}


.bigcard5forever{
    /* /for ever */
    position: absolute;
    width: 81px;
    height: 22px;
    margin-top: -40px;
    margin-left: 150px;

    /* Text Single/300/Medium */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height, or 110% */


    /* Neutral/400 */

    color: #170F49;
}

.bigcar5dwhat{
    /* Text 200 */
    position: absolute;
    width: 151px;
    height: 20px;
    margin-left: 49px;
    margin-top: 17px;

    /* Text Single/200/Bold */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */


    /* Neutral/800 */

    color: #170F49;
}


.bigcard5lista{
    margin-top: 75px;
}


.bigcard5item1, .bigcard5item2, .bigcard5item3, .bigcard5item4{
    /* Text 200 */
    /* width: 243px; */
    /* height: 20px; */
    /* Text Single/200/Regular */
    margin-top: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 5px; */
    /* identical to box height, or 111% */
    /* Neutral/400 */
    color: #170F49;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


.bigcard5footer{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 26px 38px;
    gap: 6px;
    margin-left: 10px;
    margin-top: 40px;

    width: 308px;
    height: 72px;

    /* Primary/Color 1 */

    background: #4A3AFF;
    border-radius: 96px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}


.bigcard5footertext{
    /* Button Text */
    width: 101px;
    height: 20px;
    margin-top: 20px;
    /* Text Single/200/Bold */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    text-align: center;

    /* Neutral/100 */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.footerfinal{
    /* Paragraph */
    position: absolute;
    width: 191px;
    height: 30px;
    margin-left: 70px;
    margin-top: 11px;

    /* Paragraph/Default */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */


    /* Neutral/600 */

    color: #6F6C90;
}


.elipse{
    /* Ellipse 5 */
    position: absolute;
    width: 787.64px;
    height: 790.29px;
    /* margin-left: -392px; */
    margin-top: 2849px;

    background: rgba(255, 255, 255, 0.79);
    backdrop-filter: blur(70.063px);
    /* Note: backdrop-filter has minimal browser support */
}


.elipse2{
    /* Ellipse 5 */
    position: absolute;
    width: 787.64px;
    height: 790.29px;
    margin-left: 631px;
    margin-top: 828px;
    transform: rotate(180deg);
    background: rgba(255, 255, 255, 0.79);
    backdrop-filter: blur(70.063px);
    /* Note: backdrop-filter has minimal browser support */
}


.elipse3{
    /* Ellipse 5 */
    position: absolute;
    width: 787.64px;
    height: 790.29px;
    /* margin-left: -150px; */
    margin-top: 254.49px;

    background: rgba(255, 255, 255, 0.79);
    backdrop-filter: blur(70.063px);
}

/* }

