@media screen and (max-width: 1920px){

    #titofreeunderworking{
        display: flex;
        position: absolute;
        margin-top: 15px;
        margin-left: 5px;
    }

    #underworking{
        display: flex;
        position: absolute;
        margin-top: 150px;
        margin-left: 5px;
    }

    #soonyoucan{
        display: flex;
        position: absolute;
        margin-top: 600px;
        margin-left: 5px;
    }

    #navunderworking{
        display: flex;
        position: absolute;
        margin-top: 35px;
        margin-left: 1000px;
    }

    #botondownload{
        display: flex;
        position: absolute;
        margin-top: 5px;
        margin-left: 1500px;
    }

    #undergif{
        display: flex;
        position: absolute;
        margin-top: 100px;
        margin-left: 800px;
    }

    #playstoreunderworking{
        display: flex;
        position: absolute;
        margin-top: 800px;
        margin-left: 250px;
    }

    #applestoreunderworking{
        display: flex;
        position: absolute;
        margin-top: 800px;
        margin-left: 5px;
    }

    #fototitofreeunderworking{
        display: flex;
        position: absolute;
        margin-top: 900px;
        margin-left: 70px;
    }

    #botontermsandconditions{
        display: flex;
        position: absolute;
        margin-top: 820px;
        margin-left: 900px;
    }
}


@media screen and (max-width: 1367px){
    #navunderworking{
        margin-left: 700px;
    }

    #botondownload{
        margin-top: 5px;
        margin-left: 1170px;
    }


    #undergif{
        margin-left: 600px;
    }

    #botontermsandconditions{
        margin-left: 800px;

    }

}

@media screen and (max-width: 1441px){

    #navunderworking{
        margin-left: 700px;
    }

    #botondownload{
        margin-top: 5px;
        margin-left: 1170px;
    }


    #undergif{
        margin-left: 600px;
    }

    #botontermsandconditions{
        margin-left: 800px;

    }

}



@media screen and (max-width: 721px){

    #navunderworking{
        margin-left: 600px;
    }

    #botondownload{
        margin-top: 5px;
        margin-left: 1070px;
    }

    #undergif{
        margin-left: 500px;
    }

    #fototitofreeunderworking{
        display: flex;
        position: absolute;
        margin-top: 900px;
        margin-left: 70px;
    }

    #botontermsandconditions{
        display: flex;
        position: absolute;
        width: 500px;
        margin-left: 500px;

    }
}


@media screen and (max-width: 376px){

    #soonyoucan, #navunderworking, #botondownload{
        display: none;
    }

    #underworking{
        width: 270px;
        z-index: 1;
    }

    #undergif{
        display: flex;
        position: absolute;
        width: 370px;
        margin-top: 350px;
        margin-left: 0px;
    }

    #playstoreunderworking, #applestoreunderworking{
        width: 100px;
        margin-top: 720px;
        margin-left: 75px;
    }

    #applestoreunderworking{
        margin-left: 200px;
    }

    #botontermsandconditions{
        display: flex;
        position: absolute;
        margin-top: 805px;
        margin-left: 115px;
        width: 360px;
        font-size: 8px;
    }

     #fototitofreeunderworking{
        display: flex;
        position: absolute;
        margin-top: 800px;
        margin-left: 20px;
    }

}
