  
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto:wght@700&display=swap');
    
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');
    
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');
    
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');
    
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Montserrat:wght@600&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');
    
    


@media screen and (max-width: 1920px){

#titofreeunderworking{
    display: flex;
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
}

#underworking{
    display: flex;
    position: absolute;
    margin-top: 150px;
    margin-left: 15px;
}


#soonyoucan{
    display: flex;
    position: absolute;
    margin-top: 700px;
    margin-left: 15px;
}


#navunderworking{
    display: flex;
    position: absolute;
    margin-top: 30px;
    margin-left: 900px;

}


#botondownload{
    display: flex;
    position: absolute;
    margin-top: 0px;
    margin-left: 1400px;
}

#undergif{

    margin-top: 50px;
    margin-left: 900px;
}

#playstoreunderworking{
    display: flex;
    position: absolute;
    margin-top: 150px;
}


#applestoreunderworking{
    display: flex;
    position: absolute;
    margin-top: 150px;
    margin-left: 250px;

}


#botontermsandconditions{
    display: flex;
    position: absolute;
    margin-top: 300px;
    margin-left: 1150px;
}

#fototitofreeunderworking{
    display: flex;
    position: absolute;
    margin-top: 300px;
    margin-left: 50px;
}


}